<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>

    <script>
    	function validateform(form) {

    		var username = form.userName;
    		var password = form.psw;

 				   			

    		var error = document.getElementById('errorname');

    		
    		if (/[a-zA-Z]+$/.test(username) {
    		    	
  	 	    	
       			error.innerHTML="Please enter your first name";
       			document.getElementById('name').style.borderColor = "red";
       			return false;
   			}
   			else if ( password.value.length < 8) {

   				error.innerHTML="Password should be of minimum 8 characters";
       			return false;	

   			} else{

   				alert("form submitted succefully");
       			return true;

   			}
    	}
    </script>

</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>This is great</h1>
            <p>Welcome to templating using EJS</p>
        </div>
    </main>

    <h2>Age Data</h2>
		<ul>
    		<% age.forEach(function(ages) { %>
        	<li><%= ages.name %> - <%= ages.drunkness %></li>
    		<% }); %>
		</ul>

    <footer>
        <% include ../partials/footer %>
    </footer>
    
    

<form onsubmit="return validateform(this);">

	User name : <br>
    <input type="text" name = "userName"  id = "name"> <br>
    <p id="errorname"></p>

    Password : <br>
    <input type="password" name = "psw"> <br>
    <p id="errorpass"></p>


    <input type="radio" name="gender" value="male" checked> Male<br>
  	<input type="radio" name="gender" value="female"> Female<br>
  	<input type="radio" name="gender" value="other"> Other <br>

   	<input type="checkbox" name="vehicle1" value="Bike"> I have a bike<br>
   	<input type="checkbox" name="vehicle2" value="Car"> I have a car<br>

    <input type="submit" value = "Send" name = "submit">

</form>

</body>
</html>